.modern-form {
    width: 60%;
    margin: 30PX auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
  
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight:bold ;
    color: #313030;
    
  }
  
  .form-control {
    width: 100%;
    padding: 4px;
    border: 1px solid #2a2e32;
    border-radius: 7px;
  }
  
  .btn-submit {
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: #2a2e32;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #EB5805;
  }
  