
<form (ngSubmit)="addSpecification()" method="post"  class="form-container">
    
    <div class="form-group" >
      <label class="form-label">Specification Name</label>
      <input type="text" class="form-control" name="Name" [(ngModel)]="newSpecification.Name">
   
    </div>
    <!-- <button type="button" class="btn btn-primary add-spec-btn m-2" (click)="addNewSpecific()">Add</button> -->

    <!-- <div class="form-group">
      <label class="form-label">Add Specification</label>
      <input type="text" class="form-control" name="Name" [(ngModel)]="specification.Name">
    </div> -->
  
    <button type="submit" class="btn btn-primary submit-btn">Create Spesifications</button>
  </form>
  