<!--
    <form class="d-flex" role="search">
      <input id="searchInput" class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
      <button id="searchButton" type="button" class="btn me-3 mx-3"
        style="background-color: #EB5805; color: rgb(255, 255, 255);">Search</button>


    </form>
!-->

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- <img
      id="logoLarge"
      class="logo col-md-12"
      src="https://frontends.udemycdn.com/frontends-logged-in-homepages/staticx/udemy/images/v7/logo-udemy.svg"
      alt=""
    />
    <img
      id="logoSmall"
      class="logo2 col-sm-3"
      src="../../../assets/Udemy.jpeg"
      alt=""
    /> -->

    <div class="navbar-nav">
      <a
        class="nav-item nav-link text-decoration-none auth"
        routerLink="/Login"
        [hidden]="isLoggedin"
        ><i class="fas fa-sign-in-alt m-2"></i>Login</a
      >
      <button
        class="nav-item nav-link auth"
        (click)="logout()"
        [hidden]="!isLoggedin"
      >
        <i class="fas fa-sign-out-alt m-2"></i> Logout
      </button>
    </div>
  </div>
</nav>
