<div class="container-flude">
  

  <div class="search-container">
    <input type="text" class="search-input" name="search" [(ngModel)]="serchText">
    <button class="search-button" (click)="searchOrder()">Search</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>User Name </th>
        <th>Order Date</th>
        <th>Shipping Address </th>
        <th>Total Price</th>
        <th>Order Status</th>
        <th>Phone</th>
        <th class="text-center" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entity of (resultOfSearch ?resultOfSearch :orders.entities)| paginate: { itemsPerPage:pageItem ,currentPage: pageNumber, totalItems: totalCount} ">
        <td>{{ entity.userName }}</td>
        <td>{{ entity.orderDate }}</td>
        <td>{{ entity.shippingAddress }}</td>
        <td>{{ entity.totalPrice }}</td>
        <td>{{ entity.orderStatus }}</td>
        <td>{{ entity.phone }}</td>
        <td><button class="btn btn-success" (click)="orderItems(entity.id)">Items</button></td>
        <td><button class="btn btn-success" (click)="updateOrderStatus(entity.id)">Edit Status</button></td>

        
      </tr>
    </tbody>
  </table>
  <div class="paginate">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>

  </div>
</div>


<div *ngIf="errorMessages" class="error-message">
  {{ errorMessages }}
</div>
