/* styles.css */

.container-flude {
  padding: 10px;
  overflow-x:auto ;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px; 
}

thead  {
  background-color: #2a2e32;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.table td {
  text-align: center;
  padding: 10px;
}


.table th, .table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

::-webkit-scrollbar {
  width: 5px;
  margin-top: 15px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #2A2E32;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EB5805;
}

.search-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 20px;
}

.search-input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.search-button {
  padding: 10px 20px;
  background-color: #EB5805;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1%;
}
.paginate{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}