.modern-form {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  margin: 0 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  color: #313030;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #2a2e32;
  border-radius: 4px;
}

.btn-submit {
  display: block;
  /* width: 25%; */
  margin: 20px 0;
  background-color: #a435f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #8710d8;
}

.img-preview {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover; /* Keeps the aspect ratio */
}

.form-check {
  margin-bottom: 1rem; /* Space between checkboxes */
}

.form-check-input {
  cursor: pointer; /* Change cursor on hover */
}

.text-danger {
  font-size: 0.875rem; /* Slightly smaller font size */
  margin-top: 0.5rem; /* Space above error message */
}
